* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

body{
    background-color: #fff;
    min-height: 100vh;
    padding-top: 6.5rem;
  }

.heading-greeting{
    font-size: 36px;
    color: #777777;
    font-weight:500;
    margin-bottom: 0.7rem;
}

.heading-name{
    font-size: 72px;
    font-weight: bold;
    line-height: 5rem;
}

.heading-skill{
    font-size: 24px;
    color: #878787;
    margin-top: 1.5rem;
}

.heading-text{
    font-size: 18px;
    max-width: 65%;
    margin: 2rem 0;
}

.general-text{
    font-size: 18px;
    margin: 2rem 0;
}